


.container {
    background-color: #ecf3c5;
    background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    background-image: url("https://images.pexels.com/photos/5862308/pexels-photo-5862308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: white;
    height: 700px;
    width: 450px;
    padding: 16px;
    border: solid #BDBDBD 1px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8)  ; 
	border-top-left-radius: 18px; 
	border-top-right-radius: 15px; 
	border-bottom-left-radius: 13px; 
	border-bottom-right-radius: 17px; 
  

}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
input{
    
  
           
    }
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    padding: 10px 5px;
    width: 60%;
}

#button1{
    margin: 20px 4px;
    padding: 5px 25px;
    
    border: 1px solid gray;
    cursor: pointer;
    background-color: rgb(0, 102, 255);
    color:white
}
